h1,
h2,
h3{
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

h1{
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2{
  font-size: 2rem;
  text-align: left;
  margin-bottom: 10px;
}

h3{
  margin: 10px 0 10px 0;
}

/*Media Query*/

@media (max-width: 768px){
  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.5rem;
  }

}
